html{
  scroll-behavior: smooth;
}
.App-header {

  padding: 10px;
 color: rgb(245, 245, 245);
 z-index: 99;
 height: 100vh;
 background-color: blueviolet;
  background-size: cover;
 font-family: 'Nunito', sans-serif
}

.intro{
  padding: 20px;
}
.intro h1{
  font-size: 50px;
}

.container {
  padding-top: 10px;
}

.jumbotron{
  background-color: #f8f8f800;
  margin-top: 80px;
}







