


.App-header {
  text-align: center;
  padding: 10px;
  position: relative;
 background: #000000 url('youarehere.jpg') no-repeat fixed center center / cover;
 color: white;
 z-index: 99;
 width: 100%;
 height: 100%;
 justify-content: center;
}

.intro{
  padding: 20px;
}
.intro h1{
  font-size: 50px;
}

.container{
  padding-top: 10px;
  justify-content: center;
}


.App-header::after{
  content: "";
  position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    background: #2983cc1c;
}


